@mixin button($background-color, $border-style, $padding) {
  background-color: $background-color;
  border: $border-style;
  padding: $padding;
}
.button--white {
  @include button(#ffffff, 1px solid $buttons-color-violet, 16px 23px);
}
.button--violet {
  @include button(
    $buttons-color-violet,
    1px solid $buttons-color-violet,
    16px 52px
  );
}
.button--pink {
  @include button(
    $buttons-color-pink,
    1px solid $buttons-color-pink,
    16px 52px
  );
}
