$font-headlines: "Work Sans", sans-serif;
$font-main: "Montserrat", sans-serif;
$text-color-dark-grey: #4b5d68;
$text-color-dark-violet: #212353;
$buttons-color-violet: #9c69e2;
$buttons-color-dark-violet: #8a40ee;
$buttons-color-pink: #f063b8;
$buttons-color-dark-pink: #eb4bab;
$color-facebook-blue: #3b5998;
$color-twitter-blue: #00acee;
$color-instagram-pink: #c13584;