@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Work+Sans:wght@400;700&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  width: 73%;
  margin: 0 auto;
  color: #4b5d68;
  font-size: 18px;
  font-weight: 500;
  line-height: 160%;
}

a {
  text-decoration: none;
  color: #212353;
}

h1,
h2,
h3 {
  color: #212353;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  margin: 0;
}

h1 {
  font-size: 80px;
  line-height: 110%;
  width: 601px;
}

h2 {
  font-size: 40px;
  line-height: 130%;
}

.push {
  margin-left: auto;
}

.greetings {
  margin: 60px 0;
}
.greetings p {
  width: 370px;
  margin: 50px 0;
}
.greetings img {
  height: 365px;
  position: absolute;
  top: 305px;
  left: 620px;
}

.about {
  height: 560px;
  background-color: #FDE8F5;
  border-radius: 50px;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  margin: 120px 0;
}
.about img {
  height: 380px;
  margin: 75px 70px;
}
.about__text {
  width: 500px;
  margin: 110px 70px 110px 30px;
}
.about__text p {
  margin-top: 40px;
}

.features {
  margin: 20px 0;
  text-align: center;
}
.features p {
  width: 638px;
  margin: 50px auto 80px;
}

.testimonials {
  height: 420px;
  padding: 80px 65px;
  background-color: #CCDDFF;
  background-image: url(../../src/img/bg-image-testimonials-left.svg), url(../../src/img/bg-image-testimonials-right.svg);
  background-size: 540px 320px, 580px 585px;
  background-repeat: no-repeat, no-repeat;
  background-position: left top, right top;
  border-radius: 50px;
}
.testimonials h2 {
  text-align: center;
  color: #4b5d68;
  margin-bottom: 80px;
}

.card-text {
  font-size: 16px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 37px 0;
}

.nav__link:hover {
  color: #8a40ee;
}

.nav {
  margin: 0 120px;
  display: flex;
  gap: 40px;
  list-style: none;
}
.nav__link {
  text-decoration: none;
  font-size: 16px;
  line-height: 160%;
}

.logo {
  height: 35px;
}

footer {
  margin-top: 120px;
}
footer .free-trial,
footer .buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .buttons {
  -moz-column-gap: 30px;
       column-gap: 30px;
}
footer .links {
  margin-top: 100px;
  display: grid;
  grid-template-columns: auto 1fr 1fr 3fr;
  -moz-column-gap: 10%;
       column-gap: 10%;
}
footer .links__contact-info {
  width: 275px;
}
footer .links__contact-info .company-name {
  font-size: 20px;
  font-weight: 600;
  color: #212353;
}
footer .links__contact-info .company-name p {
  display: inline-block;
  margin: 0 10px;
}
footer .links__contact-info .address {
  font-size: 16px;
}
footer .links__contact-info .address a {
  display: block;
  font-weight: 400;
  margin-bottom: 10px;
}
footer .links__about, footer .links__help {
  width: 81px;
  font-size: 16px;
  color: #212353;
}
footer .links__about p, footer .links__help p {
  font-weight: 600;
}
footer .links__about a, footer .links__help a {
  color: #4b5d68;
}
footer .links__about a:hover, footer .links__help a:hover {
  color: #8a40ee;
}
footer .links__social-media {
  width: 194px;
  font-size: 16px;
  font-weight: 600;
}
footer .links__social-media ul {
  list-style: none;
  padding: 0;
}
footer .links__social-media li {
  display: inline-block;
  background-color: #e9e9ee;
  border: 1px solid #e9e9ee;
  box-sizing: border-box;
  margin-right: 10px;
  border-radius: 100%;
  color: #ffffff;
}
footer .links__social-media li:first-child:hover {
  background-color: #ffffff;
  color: #3b5998;
  border-color: #3b5998;
}
footer .links__social-media li:hover {
  background-color: #ffffff;
  color: #00acee;
  border-color: #00acee;
}
footer .links__social-media li:last-child:hover {
  background-color: #ffffff;
  color: #c13584;
  border-color: #c13584;
}
footer .links__social-media a {
  color: inherit;
  height: 50px;
  width: 50px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
footer .copyright {
  margin: 110px 0;
  width: 275px;
  font-size: 12px;
  font-weight: 300;
  color: #212353;
}

.container-button {
  width: 210px;
  height: 60px;
}

.button {
  width: 100%;
  border-radius: 50px;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  font-weight: 500;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}
.button_white {
  display: flex;
  gap: 20px;
}
.button_white:hover {
  background: #9c69e2;
  color: #ffffff;
}
.button_white:hover span {
  color: #ffffff;
}
.button_white:hover i {
  color: #ffffff;
}
.button_white span {
  color: #212353;
}
.button_white i {
  color: #9c69e2;
  font-size: 18px;
}
.button_violet:hover {
  background: #8a40ee;
}
.button_pink:hover {
  background: #eb4bab;
}

.button_white {
  background-color: #ffffff;
  border: 1px solid #9c69e2;
  padding: 16px 23px;
  color: #212353;
}

.button_violet {
  background-color: #9c69e2;
  border: 1px solid #9c69e2;
  padding: 16px 52px;
  color: #ffffff;
}

.button_pink {
  background-color: #f063b8;
  border: 1px solid #f063b8;
  padding: 16px 52px;
  color: #ffffff;
}

.container-cards {
  display: grid;
  grid-template-columns: auto 1fr;
  text-align: left;
}
.container-cards .card {
  width: 570px;
  height: 400px;
  margin: 30px;
  display: flex;
  position: relative;
}
.container-cards .card-background {
  width: 230px;
  height: 280px;
  border-radius: 50px;
  padding: 60px 70px 60px 100px;
  position: absolute;
  right: 0;
}
.container-cards .card-background_green {
  background-color: #F0FAF9;
}
.container-cards .card-background_violet {
  background-color: #F6F0FD;
}
.container-cards .card-background_pink {
  background-color: #FEF0F8;
}
.container-cards .card-background_blue {
  background-color: #EAF6FC;
}
.container-cards .card__info {
  flex-direction: column;
}
.container-cards .card img {
  height: 180px;
  position: absolute;
  top: 110px;
  left: 0;
}
.container-cards .card p {
  width: 230px;
  height: 180px;
  margin: 10px 0 0 0;
  font-size: 16px;
  font-weight: 400;
}

.rewievs {
  display: grid;
  grid-template-columns: auto 1fr;
  -moz-column-gap: 60px;
       column-gap: 60px;
}

.rewievs__card {
  width: 435px;
  padding: 40px 10px;
  background-color: #ffffff;
  border: 1px solid #9c69e2;
  border-radius: 50px;
  display: grid;
  grid-template-columns: auto 1fr;
}
.rewievs__card img {
  height: 90px;
  border-radius: 100%;
  margin: 8px 15px;
}
.rewievs__card div {
  width: 300px;
  height: 200px;
}
.rewievs__card div a {
  display: block;
  color: #9c69e2;
}/*# sourceMappingURL=index.css.map */