header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.3vw 0;
}

.nav__link:hover {
  color: $buttons-color-dark-violet;
}

.nav {
  margin: 0 7.5vw;
  display: flex;
  gap: 2.5vw;
  list-style: none;
  &__link {
    text-decoration: none;
    font-size: 1vw;
    line-height: 160%;
  }
}

.logo {
  height: 2.2vw;
}
