header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 37px 0;
}

.nav__link:hover {
  color: $buttons-color-dark-violet;
}

.nav {
  margin: 0 120px;
  display: flex;
  gap: 40px;
  list-style: none;
  &__link {
    text-decoration: none;
    font-size: 16px;
    line-height: 160%;
  }
}

.logo {
  height: 35px;
}
