.container-button {
  width: 210px;
  height: 60px;
}

.button {
  width: 100%;
  border-radius: 50px;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  font-weight: 500;
  font-size: 16px;
  font-family: $font-main;
  cursor: pointer;
  &_white {
    display: flex;
    gap: 20px;
    &:hover {
      background: $buttons-color-violet;
      color: #ffffff;
      span {
        color: #ffffff;
      }
      i {
        color: #ffffff;
      }
    }
    span {
      color: $text-color-dark-violet;
    }
    i {
      color: $buttons-color-violet;
      font-size: 18px;
    }
  }
  &_violet:hover {
    background: $buttons-color-dark-violet;
  }
  &_pink:hover {
    background: $buttons-color-dark-pink;
  }
}

.button_white {
  @include button(
    #ffffff,
    1px solid $buttons-color-violet,
    16px 23px,
    $text-color-dark-violet
  );
}
.button_violet {
  @include button(
    $buttons-color-violet,
    1px solid $buttons-color-violet,
    16px 52px,
    #ffffff
  );
}
.button_pink {
  @include button(
    $buttons-color-pink,
    1px solid $buttons-color-pink,
    16px 52px,
    #ffffff
  );
}
