$font-headlines: "Work Sans", sans-serif;
$font-main: "Montserrat", sans-serif;
$text-color-dark-grey: #4b5d68;
$text-color-dark-violet: #212353;
$buttons-color-violet: #9c69e2;
$buttons-color-dark-violet: #8a40ee;
$buttons-color-pink: #f063b8;
$buttons-color-dark-pink: #eb4bab;
$color-facebook-blue: #3b5998;
$color-twitter-blue: #00acee;
$color-instagram-pink: #c13584;
$background-color-pink-medium: #FDE8F5;
$background-color-green-light: #F0FAF9;
$background-color-violet-light: #F6F0FD;
$background-color-pink-light: #FEF0F8;
$background-color-blue-light: #EAF6FC;
$background-color-blue-medium: #CCDDFF;