@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Work+Sans:wght@400;700&display=swap");
@import url("/src/scss/fontawesome.scss");
@import url("/src/scss/solid.scss");

$font-headlines: "Work Sans", sans-serif;
$font-main: "Montserrat", sans-serif;
$text-color-dark-grey: #4b5d68;
$text-color-dark-violet: #212353;
$buttons-color-violet: #9c69e2;
$buttons-color-dark-violet: #8a40ee;
$buttons-color-pink: #f063b8;
$buttons-color-dark-pink: #eb4bab;
$color-facebook-blue: #3b5998;
$color-twitter-blue: #00acee;
$color-instagram-pink: #c13584;

body {
  font-family: $font-main;
  width: 73%;
  margin: 0 auto;
  color: $text-color-dark-grey;
}

header {
  display: flex;
  align-items: center;
  padding: 37px 0;
}

.button {
  border-radius: 50px;
  width: 210px;
  height: 60px;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  font-weight: 500;
  &--white {
    background: #ffffff;
    border: 1px solid $buttons-color-violet;
    font-size: 16px;
  }
}

.nav {
  margin: 0 120px;
  display: flex;

  gap: 40px;
  list-style: none;
  &__link {
    text-decoration: none;
    font-size: 16px;
    line-height: 160%;
  }
}

.logo {
  height: 35px;
}
